/* Navigation Bar*/
ul {
    list-style-type: none;
    margin-top: 70px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:0px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:18px ;
}
li input{
       width:140px;
       height:35px;
       font-size: 17px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #3399ff;
}



/* Body*/

body{
  background-color: #33ccff;
}



div.content {
width: 73%;
float: left;
background-color: white;
margin-top: 30px;
margin-left: 20px;
margin-right: 10px;}

div.right {
width: 19%;
float: left;
margin-left: 1210px;
margin-top: -19px;
margin-right: 20px;
background-color: white;
}
